<h1>About</h1>
<div class="myimg">
    <img src="/img/WhatsApp Image 2024-03-05 at 15.05.05.jpeg" alt="">
</div>
<p>Hi! There I am the developer of this blog.
    <br>I Hope You Will like this blog.
    <br>My name is Ananya Thakur.


</p>
<style>
    h1{
        text-align: center;
    }
    img{
        height: 195px;
        width: 20%;
        position: relative;
        left: 400px;
    }
    p{
        text-align: center;
    }

</style>